In [39]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [40]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Maldonado,UY,2022-05-08 15:59:54,-34.6667,-54.9167,70.99,46,8,9.69
1,1,Ushuaia,AR,2022-05-08 15:58:44,-54.8000,-68.3000,40.66,87,75,35.68
2,2,Chokurdakh,RU,2022-05-08 15:58:40,70.6333,147.9167,8.04,92,99,6.53
3,3,Longyearbyen,SJ,2022-05-08 15:59:55,78.2186,15.6401,17.85,71,18,16.24
4,4,Deputatskiy,RU,2022-05-08 15:59:55,69.3000,139.9000,10.53,99,100,3.36

In [41]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [42]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [43]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [44]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [49]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Lorengau,PG,2022-05-08 15:59:56,-2.0226,147.2712,83.37,74,92,13.62
6,6,Rikitea,PF,2022-05-08 15:59:56,-23.1203,-134.9692,76.51,80,42,21.25
7,7,Bengkulu,ID,2022-05-08 15:55:19,-3.8004,102.2655,78.42,82,95,4.03
24,24,Porto Novo,BJ,2022-05-08 16:00:09,6.4965,2.6036,86.38,65,98,10.63
28,28,Bac Lieu,VN,2022-05-08 16:00:30,9.2850,105.7244,82.62,80,100,15.23
30,30,Kavaratti,IN,2022-05-08 16:00:44,10.5669,72.6420,85.17,71,99,16.53
32,32,Vaini,TO,2022-05-08 16:00:52,-21.2000,-175.2000,75.70,72,64,16.44
41,41,Hambantota,LK,2022-05-08 16:00:59,6.1241,81.1185,84.54,89,75,8.05
42,42,Batticaloa,LK,2022-05-08 16:01:00,7.7102,81.6924,84.90,74,100,5.48
44,44,Bambous Virieux,MU,2022-05-08 16:01:02,-20.3428,57.7575,75.45,83,40,5.75

In [50]:
preferred_cities_df.count()

City_ID       180
City          180
Country       179
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [51]:
preferred_cities_df.dropna(axis='index').count()

City_ID       179
City          179
Country       179
Date          179
Lat           179
Lng           179
Max Temp      179
Humidity      179
Cloudiness    179
Wind Speed    179
dtype: int64

In [52]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
5          Lorengau      PG     83.37  -2.0226  147.2712
6           Rikitea      PF     76.51 -23.1203 -134.9692
7          Bengkulu      ID     78.42  -3.8004  102.2655
24       Porto Novo      BJ     86.38   6.4965    2.6036
28         Bac Lieu      VN     82.62   9.2850  105.7244
30        Kavaratti      IN     85.17  10.5669   72.6420
32            Vaini      TO     75.70 -21.2000 -175.2000
41       Hambantota      LK     84.54   6.1241   81.1185
42       Batticaloa      LK     84.90   7.7102   81.6924
44  Bambous Virieux      MU     75.45 -20.3428   57.7575

In [53]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [55]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [56]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Lorengau,PG,83.37,-2.0226,147.2712,Lorengau Harbourside Hotel
6,Rikitea,PF,76.51,-23.1203,-134.9692,People ThankYou
7,Bengkulu,ID,78.42,-3.8004,102.2655,Grage Hotel Bengkulu
24,Porto Novo,BJ,86.38,6.4965,2.6036,Tour Eiffel Hotel Benin
28,Bac Lieu,VN,82.62,9.2850,105.7244,Khách sạn Sài Gòn Bạc Liêu
...,...,...,...,...,...,...
551,Pakxan,LA,76.64,18.3778,103.6601,Kong Kham Pheng Guesthouse
552,Sur,OM,88.75,22.5667,59.5289,Sur Plaza Hotel
553,Peniche,PT,79.29,39.3558,-9.3811,Hotel Star inn Peniche
554,Wanning,CN,76.15,18.8003,110.3967,Paradise Hotel
555,Uige,AO,76.62,-7.6087,15.0613,Hotel Catraio

In [58]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [59]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [60]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [62]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))